<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name = "Suite1" verbose="1" parallel="tests" thread-count="1">
<listeners>
  <listener class-name="com.cloud.customListener.TestNGListener" />
</listeners>

<test name="Normal">
    <parameter name="browserName" value="CHROME" />
              <classes>
                     <class name="testCases.LoginTestCases"/>
                  <class name="testCases.TripsTesting"/>
              </classes>
       </test>
</suite>
